<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248428356238-n2b68ji2v84ssp7vac1o1oblrja9oa96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248428356238-n2b68ji2v84ssp7vac1o1oblrja9oa96</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZppLbtCubqQhJynesxvExZ3pSbh1TEI</string>
	<key>GCM_SENDER_ID</key>
	<string>248428356238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimsweeney.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-44c14</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-44c14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248428356238:ios:35fa88d1c0d1713d86dfdf</string>
</dict>
</plist>